.homepage {
    display: flex;

}
.homepage .left-pannel {
    width: 60%;
}
.homepage .right-pannel {
    width: 40%;
    margin-top: 5.8rem;
}

.infoProfil {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    width: 30%;
    padding: 1rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    box-shadow: rgba(126, 126, 126, 0.4) 0px 2px 4px, rgba(114, 114, 114, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.lastActivities {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: rgba(126, 126, 126, 0.4) 0px 2px 4px, rgba(114, 114, 114, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.lastActivities h1 {
    font-weight: 500;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    font-size: 24px;
}
.lastActivities ul {
    padding: 0 20px;
}
.lastActivities li {
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, 0.479);
    padding: 0rem 0.5rem;
    margin: 1rem 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
.lastActivities li p, .lastActivities li span {
    transition: 0.4s;
}
.lastActivities li span {
    display: flex;
    margin-left: auto;
}
.lastActivities li:hover {
    background-color: black;
    transition: 0.4s;
}
.lastActivities li:hover p, .lastActivities li:hover span {
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: 0.4s;
}

.newActivity {
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 20px;
    width: 90%;
    height: 50%;
    padding: 1rem 0;
    margin: 5rem auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    box-shadow: rgba(126, 126, 126, 0.4) 0px 2px 4px, rgba(114, 114, 114, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.newActivity svg {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.8s;
}

.newActivity svg:hover path{
    filter: invert(1);
    transition: 0.5s;
}
.newActivity svg:hover{
    background-color: black;
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transition: 0.8s;
}
.newActivity svg.module-open {
    /* animation-name: module-btn;
    animation-duration: 0.4s;
    animation-fill-mode:both; */
    animation: module-btn 0.5s forwards;
    transition: 0.4s;
}

@keyframes module-btn {
    0% {
        box-shadow: none;
        display: flex;
        margin-left: 0%;
        margin-bottom: 0%;
        transition: 0.4s;
    }
    50% {
        display: flex;
        margin-left: 95%;
        margin-bottom: 30%;
        transform: rotate(0);
        transition: 0.4s;
    }
    100% {
        display: flex;
        margin-left: 95%;
        margin-bottom: 30%;
        transform: rotate(-225deg);
        transition: 0.4s;
    }
}


.mainActivity {
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 20px;
    width: 90%;
    height: 30%;
    padding: 1rem 0;
    margin: auto auto 1rem auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    box-shadow: rgba(126, 126, 126, 0.4) 0px 2px 4px, rgba(114, 114, 114, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}