.homepage {
    display: flex;
}

.homepage .left-pannel {
    width: 60%;
}

.homepage .right-pannel {
    width: 40%;
    margin-top: 5.8rem;
}

.infoProfil {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    width: 30%;
    padding: 1rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    box-shadow: rgba(126, 126, 126, 0.4) 0px 2px 4px, rgba(114, 114, 114, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.lastActivities {
    margin-top: 20% !important;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-shadow: rgba(126, 126, 126, 0.4) 0px 2px 4px, rgba(114, 114, 114, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.lastActivities h1 {
    font-weight: 500;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    font-size: 22px;
    text-transform: uppercase;
}

.lastActivities ul {
    padding: 0 20px;
}

.lastActivities li {
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, 0.479);
    padding: 0rem 0.5rem;
    margin: 1rem 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.lastActivities li p,
.lastActivities li span {
    transition: 0.4s;
}

.lastActivities li span {
    display: flex;
    margin-left: auto;
}

.lastActivities li:hover {
    background-color: black;
    transition: 0.4s;
}

.lastActivities li:hover p,
.lastActivities li:hover span {
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: 0.4s;
}

/** NEW ACTIVITY **/

.newActivity {
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 20px;
    width: 90%;
    height: 50%;
    padding: 1rem 0;
    margin: 5rem auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    box-shadow: rgba(126, 126, 126, 0.4) 0px 2px 4px, rgba(114, 114, 114, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.newActivity h1 {
    font-weight: 500;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 1rem 0;
    font-size: 22px;
    text-transform: uppercase;
}
.newActivity svg {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.8s;
}

.newActivity svg:hover path {
    filter: invert(1);
    transition: 0.5s;
}

.newActivity .time-cat svg:hover {
    background-color: black;
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transition: 0.8s;
}

.newActivity svg.module-open {
    /* animation-name: module-btn;
    animation-duration: 0.4s;
    animation-fill-mode:forwards; */
    animation: module-btn 0.5s forwards;
    transition: 0.4s;
}

@keyframes module-btn {
    0% {
        box-shadow: none;
        display: flex;
        margin-left: 0%;
        margin-bottom: 0%;
        transition: 0.4s;
    }
    50% {
        display: flex;
        margin-left: 95%;
        margin-bottom: 30%;
        transform: rotate(0);
        transition: 0.4s;
    }
    100% {
        display: flex;
        margin-left: 95%;
        margin-bottom: 30%;
        transform: rotate(-225deg);
        transition: 0.4s;
    }
}

.newActivity .formPost{
    width: 95%;
    height: 90%;
    font-size: 16px !important;
}
.newActivity .formHead{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 4rem;
    width: 100%;
}
.newActivity .formHead{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.newActivity .formHead .time-cat{
    display: flex;
    flex-direction: row;
    width: 55%;
}
.newActivity .formHead input {
    height: 44px !important;
    margin: auto;
    margin-left: 0;
    font-size: 16px;
    width: 40%;
}
.newActivity .formHead input.title {
    width: 40%;
}
.newActivity .formHead .basicSingle {
    margin: auto;
    margin-right: 0;
    width: 50%;
}
.newActivity .formHead .basicSingle input{
    height: 1rem;
}
.newActivity .formHead .basicSingle div svg{
    height: 1rem;
    border-radius: 0 !important;
}
.newActivity textarea {
    width: 100%;
    margin: auto;
    display: flex;
    font-size: 14px;
    resize: none;
}
.newActivity button {
    display: flex;
    margin: 1.5rem auto 0 auto;
}
.newActivity .date-picker {
    font-size: 16px;
    margin: auto;
    width: 40%;
}
.newActivity .date-picker div {
    height: 50px;
}
.newActivity .date-picker svg {
    height: 2rem;
    border-radius: 0 !important;
    width: 100%;
}
.newActivity .formHead .date-picker input{
    height: 1rem;
    margin: 0;
    width: auto !important;
} 
.newActivity .formHead .date-picker button {
    margin: 0 !important;
    margin-right: 1rem !important;
}
.newActivity .submit-activities {
    font-size: 16px;
    text-transform: uppercase;
    border: 0px;
    padding: 0.8rem 1rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
}
.newActivity .submit-activities:hover {
    background-color: black;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}
.newActivity .loading {
    height: 2.5rem;
    margin: 1rem auto;
    display: flex;
    animation: rotation 1s infinite linear;
    cursor: auto;
}
.newActivity .loading:hover {
    filter: invert(100%);
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media screen and (max-width: 1450px) {
    .formHead {
        flex-direction: column !important;
        height: 8rem !important;
    }
    .time-cat {
        width: 100% !important;
        margin-top: auto;
    }
    .formHead input.title {
        width: 100% !important;
        margin: 0.2rem auto;
    }
    .date-picker {
        margin-left: 0 !important;
    }
}


/** MAIN ACTIVITY **/

.mainActivity {
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 20px;
    width: 90%;
    height: 30%;
    padding: 1rem 0;
    margin: auto auto 1rem auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    box-shadow: rgba(126, 126, 126, 0.4) 0px 2px 4px, rgba(114, 114, 114, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/** HOMEAPGE RESPONSIVE **/

@media screen and (max-width: 950px) {
    .homepage {
        flex-direction: column;
    }
    .left-pannel, .right-pannel {
        width: 100% !important;
        margin-top: 1rem;
    }
    .newActivity {
        margin-top: 12rem;
    }
    .lastActivities {
        margin-top: 2rem !important;
        margin-bottom: 3rem !important;
    }
}